.DS_Store
.atom/
.dart_tool/
.flutter-plugins-dependencies
.packages
.pub/
build/
ios/.generated/
ios/Flutter/.last_build_id
packages
pubspec.lock
.flutter-plugins
lib/generated_plugin_registrant.dart

# IntelliJ
*.iml
.gradle
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/KotlinScripting.xml
